.panel-body {
    background-color: #E1E1E1;
    border-radius: 6px;
}

.title {
    text-align: center;
}

.login {
    text-align: center;
    display: block;

}
.help-block{
    position: absolute;
    left: 36px;
    top: 32px;
}
